{ns hl7-fhir-us-carin-bb.search.explanationofbenefit-provider,
 import #{zen.fhir},
 search {:zen/tags #{zen.fhir/search},
         :fhir/id "explanationofbenefit-provider",
         :fhir/url "http://hl7.org/fhir/us/carin-bb/SearchParameter/explanationofbenefit-provider",
         :fhir/type "reference",
         :name "provider",
         :expr {:ExplanationOfBenefit {:knife [["provider"]],
                                       :jsonpath ["$.\"provider\"[*]"],
                                       :data-types #{{:type "Reference",
                                                      :polymorphic? false}},
                                       :template :reference}}}}
