{ns hl7-fhir-us-carin-bb,
 import
 #{hl7-fhir-us-carin-bb.value-set.X12ClaimAdjustmentReasonCodesCMSRemittanceAdviceRemarkCodes
   hl7-fhir-us-carin-bb.value-set.CMSPlaceofServiceCodes
   hl7-fhir-us-carin-bb.value-set.AHANUBCRevenueCodes
   hl7-fhir-us-carin-bb.value-set.C4BBPayerClaimPaymentStatusCode
   hl7-fhir-us-carin-bb.value-set.C4BBPayerBenefitPaymentStatus
   hl7-fhir-us-carin-bb.value-set.NCPDPBrandGenericIndicator
   hl7-fhir-us-core
   hl7-fhir-us-carin-bb.value-set.C4BBAdjudicationCategoryDiscriminator
   hl7-fhir-us-carin-bb.value-set.AMACPTCMSHCPCSProcedureCodes
   hl7-fhir-us-carin-bb.value-set.CMSMS3MAPAPRDRG
   hl7-fhir-us-carin-bb.search.practitionerrole-organization
   hl7-fhir-us-carin-bb.value-set.NCPDPRejectCode
   hl7-fhir-us-carin-bb.value-set.FDANationalDrugCode
   hl7-fhir-us-carin-bb.search.explanationofbenefit-care-team
   hl7-fhir-us-carin-bb.value-set.AHANUBCPriorityTypeOfAdmissionOrVisit
   hl7-fhir-r4-core
   hl7-fhir-us-carin-bb.value-set.C4BBOrganizationIdentifierType
   hl7-fhir-us-carin-bb.value-set.C4BBClaimPharmacyTeamRole
   hl7-fhir-us-carin-bb.value-set.C4BBAdjudication
   hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit-Pharmacy
   hl7-fhir-us-carin-bb.value-set.C4BBPayeeType
   hl7-fhir-us-carin-bb.value-set.AHANUBCPatientDischargeStatus
   hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit
   hl7-fhir-us-carin-bb.value-set.C4BBPatientIdentifierType
   hl7-fhir-us-carin-bb.value-set.AHANUBCTypeOfBill
   hl7-fhir-us-carin-bb.value-set.C4BBSupportingInfoType
   hl7-fhir-us-carin-bb.value-set.ADAUniversalNumberingSystem
   hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit-Outpatient-Institutional
   hl7-fhir-us-carin-bb.value-set.NCPDPPrescriptionOriginCode
   hl7-fhir-us-carin-bb.value-set.C4BBSurfaceCodes
   hl7-fhir-us-carin-bb.search.explanationofbenefit-provider
   hl7-fhir-us-carin-bb.value-set.CMSICD910PCSProcedureCodes
   hl7-fhir-us-carin-bb.value-set.C4BBClaimProfessionalAndNonClinicianCareTeamRole
   hl7-fhir-us-carin-bb.value-set.C4BBClaimProcedureType
   hl7-fhir-us-carin-bb.value-set.FDANDCOrCompound
   hl7-fhir-us-carin-bb.search.explanationofbenefit-identifier
   hl7-fhir-us-carin-bb.C4BB-Practitioner
   hl7-fhir-us-carin-bb.value-set.C4BBClaimOutpatientInstitutionalDiagnosisType
   hl7-fhir-us-carin-bb.value-set.C4BBClaimInstitutionalCareTeamRole
   hl7-fhir-us-carin-bb.value-set.C4BBProfessionalAndNonClinicianClaimSubType
   hl7-fhir-us-carin-bb.value-set.NCPDPDispensedAsWrittenOrProductSelectionCode
   hl7-fhir-us-carin-bb.search.practitionerrole-practitioner
   hl7-fhir-us-carin-bb.C4BB-Organization
   hl7-fhir-us-carin-bb.value-set.C4BBRelatedClaimRelationshipCodes
   hl7-fhir-us-carin-bb.search.explanationofbenefit-coverage
   hl7-fhir-us-carin-bb.search.explanationofbenefit-service-date
   hl7-fhir-us-carin-bb.value-set.C4BBClaimProfessionalAndNonClinicianDiagnosisType
   hl7-fhir-us-carin-bb.value-set.C4BBTotalCategoryDiscriminator
   hl7-fhir-us-carin-bb.value-set.AHANUBCPointOfOriginForAdmissionOrVisit
   hl7-fhir-us-carin-bb.search.coverage-payor
   hl7-fhir-us-carin-bb.search.explanationofbenefit-insurer
   hl7-fhir-us-carin-bb.value-set.C4BBClaimIdentifierType
   hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit-Inpatient-Institutional
   hl7-fhir-us-carin-bb.value-set.C4BBEOBInstitutionalProcedureCodes
   hl7-fhir-us-carin-bb.value-set.C4BBPayerProviderContractingStatus
   hl7-fhir-us-carin-bb.search.explanationofbenefit-service-start-date
   hl7-fhir-us-carin-bb.value-set.ADADentalProcedureCode
   hl7-fhir-us-carin-bb.C4BB-Patient
   hl7-fhir-us-carin-bb.search.explanationofbenefit-type
   hl7-fhir-us-carin-bb.value-set.CDCICD910CMDiagnosisCodes
   hl7-fhir-us-carin-bb.value-set.OralBodySite
   hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit-Professional-NonClinician
   hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit-Oral
   hl7-fhir-us-carin-bb.C4BB-Coverage
   hl7-fhir-us-carin-bb.value-set.C4BBInstitutionalClaimSubType
   hl7-fhir-us-carin-bb.value-set.AHANUBCPresentOnAdmission
   hl7-fhir-us-carin-bb.value-set.C4BBProfessionalAndNonClinicianClaimType
   hl7-fhir-us-carin-bb.value-set.NCPDPCompoundCode
   hl7-fhir-us-carin-bb.value-set.AMACPTCMSHCPCSModifiers
   hl7-fhir-us-carin-bb.value-set.C4BBClaimInpatientInstitutionalDiagnosisType
   hl7-fhir-us-carin-bb.value-set.C4BBPractitionerIdentifierType
   hl7-fhir-us-carin-bb.search.explanationofbenefit-patient}}