{ns hl7-fhir-us-carin-bb.value-set.AHANUBCPointOfOriginForAdmissionOrVisit,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The UB-04 Data File contains the complete set of NUBC codes. Every code in the range of possible codes is accounted for sequentially. There are no gaps because all used and unused codes are identified.\n\nThis code system consists of the following:\n\n*   FL 15 - Point of Origin for Admission or Visit \n\nThese codes are used to convey the patient point of origin for an admission or visit and are the property of the American Hospital Association\n\nTo obtain the underlying code systems, please see information [here](https://www.nubc.org/subscription-information)",
            :zen.fhir/version "0.6.7",
            :fhir/code-systems #{{:fhir/url "https://www.nubc.org/CodeSystem/PointOfOrigin",
                                  :zen.fhir/content :not-present}
                                 {:fhir/url "https://www.nubc.org/CodeSystem/PointOfOriginNewborn",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/us/carin-bb/ValueSet/AHANUBCPointOfOriginForAdmissionOrVisit",
            :version "1.2.0",
            :ftr {:module "ig",
                  :source-urls ["node_modules/hl7.fhir.us.carin-bb"],
                  :source-type :igs,
                  :ftr-path "ftr",
                  :tag "init"}}}
