{ns hl7-fhir-us-carin-bb.value-set.AHANUBCPatientDischargeStatus,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "The UB-04 Data File contains the complete set of NUBC codes. Every code in the range of possible codes is accounted for sequentially. There are no gaps because all used and unused codes are identified.\n\nThis code system consists of the following:\n\n*   FL 17 - Patient Discharge Status\n\nThese codes are used to convey the patient discharge status and are the property of the American Hospital Association.\n\nTo obtain the underlying code systems, please see information [here](https://www.nubc.org/subscription-information)",
            :zen.fhir/version "0.6.20-2",
            :fhir/code-systems #{{:fhir/url "https://www.nubc.org/CodeSystem/PatDischargeStatus",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/us/carin-bb/ValueSet/AHANUBCPatientDischargeStatus",
            :version "1.2.0"}}
