{ns hl7-fhir-us-carin-bb.value-set.C4BBSurfaceCodes,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "This value set includes FDI tooth surface codes localized for the US Realm.",
  :zen.fhir/version "0.6.1",
  :fhir/code-systems
  #{{:fhir/url
     "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSurfaceCodes",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/us/carin-bb/ValueSet/C4BBSurfaceCodes",
  :version "1.2.0",
  :ftr
  {:module "ig",
   :source-urls ["node_modules/hl7.fhir.us.carin-bb"],
   :source-type :igs,
   :ftr-path "ftr",
   :tag "init"}}}