{ns hl7-fhir-us-carin-bb.value-set.C4BBAdjudication,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc
  "Describes the various amount fields used when payers receive and adjudicate a claim.  It includes the values \ndefined in http://terminology.hl7.org/CodeSystem/adjudication, as well as those defined in the C4BB Adjudication CodeSystem.",
  :zen.fhir/version "0.5.26-5",
  :fhir/code-systems
  #{{:fhir/url "http://terminology.hl7.org/CodeSystem/adjudication",
     :zen.fhir/content :bundled}
    {:fhir/url
     "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBAdjudication",
     :zen.fhir/content :bundled}},
  :uri "http://hl7.org/fhir/us/carin-bb/ValueSet/C4BBAdjudication",
  :version "1.2.0",
  :ftr
  {:module "ig",
   :source-url "node_modules/hl7.fhir.us.carin-bb",
   :source-type :ig,
   :ftr-path "ftr",
   :zen/package-name "hl7-fhir-us-carin-bb",
   :tag "init"}}}