{ns hl7-fhir-us-carin-bb.value-set.C4BBOrganizationIdentifierType,
 import #{zen.fhir},
 value-set
 {:zen/tags #{zen.fhir/value-set},
  :zen/desc "Identifies the type of identifiers for organizations",
  :zen.fhir/version "0.5.21-10",
  :fhir/code-systems
  #{{:fhir/url
     "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBIdentifierType",
     :zen.fhir/content :bundled}
    {:fhir/url "http://terminology.hl7.org/CodeSystem/v2-0203",
     :zen.fhir/content :bundled}},
  :uri
  "http://hl7.org/fhir/us/carin-bb/ValueSet/C4BBOrganizationIdentifierType",
  :version "1.2.0"}}