{ns hl7-fhir-us-carin-bb.value-set.NCPDPDispensedAsWrittenOrProductSelectionCode,
 import #{zen.fhir},
 value-set {:zen/tags #{zen.fhir/value-set},
            :zen/desc "Code indicating whether or not the prescriber's instructions regarding generic substitution were followed. (NCPDP ECL 408-D8)\n\nLink to information about the code system - including how to obtain the content: [https://standards.ncpdp.org/Access-to-Standards.aspx](https://standards.ncpdp.org/Access-to-Standards.aspx)",
            :zen.fhir/version "0.6.16-3",
            :fhir/code-systems #{{:fhir/url "http://terminology.hl7.org/CodeSystem/NCPDPDispensedAsWrittenOrProductSelectionCode",
                                  :zen.fhir/content :not-present}},
            :uri "http://hl7.org/fhir/us/carin-bb/ValueSet/NCPDPDispensedAsWrittenOrProductSelectionCode",
            :version "1.2.0"}}
