{ns
 hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit-Outpatient-Institutional,
 import
 #{hl7-fhir-us-carin-bb.value-set.X12ClaimAdjustmentReasonCodesCMSRemittanceAdviceRemarkCodes
   hl7-fhir-us-carin-bb.value-set.AHANUBCRevenueCodes
   hl7-fhir-r4-core.decimal
   hl7-fhir-r4-core.BackboneElement
   zen.fhir
   hl7-fhir-us-carin-bb.value-set.C4BBAdjudicationCategoryDiscriminator
   hl7-fhir-r4-core.Money
   hl7-fhir-us-carin-bb.value-set.AHANUBCPriorityTypeOfAdmissionOrVisit
   hl7-fhir-r4-core.dateTime
   hl7-fhir-us-carin-bb.value-set.AHANUBCPatientDischargeStatus
   hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit
   hl7-fhir-r4-core.string
   hl7-fhir-us-carin-bb.value-set.AHANUBCTypeOfBill
   hl7-fhir-r4-core.date
   hl7-fhir-r4-core.Quantity
   hl7-fhir-us-carin-bb.value-set.C4BBClaimOutpatientInstitutionalDiagnosisType
   hl7-fhir-us-carin-bb.value-set.C4BBClaimInstitutionalCareTeamRole
   hl7-fhir-us-carin-bb.C4BB-Organization
   hl7-fhir-r4-core.Meta
   hl7-fhir-r4-core.Reference
   hl7-fhir-us-carin-bb.value-set.C4BBTotalCategoryDiscriminator
   hl7-fhir-us-carin-bb.value-set.AHANUBCPointOfOriginForAdmissionOrVisit
   hl7-fhir-r4-core.positiveInt
   hl7-fhir-r4-core.Element
   hl7-fhir-us-carin-bb.value-set.C4BBEOBInstitutionalProcedureCodes
   hl7-fhir-us-carin-bb.value-set.C4BBPayerProviderContractingStatus
   hl7-fhir-r4-core.CodeableConcept
   hl7-fhir-us-carin-bb.value-set.CDCICD910CMDiagnosisCodes
   hl7-fhir-us-carin-bb.value-set.C4BBInstitutionalClaimSubType
   hl7-fhir-us-carin-bb.value-set.AMACPTCMSHCPCSModifiers},
 schema
 {:zen.fhir/version "0.5.21-8",
  :confirms
  #{zen.fhir/Resource
    hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit/schema},
  :zen/tags #{zen.fhir/profile-schema zen/schema},
  :zen.fhir/profileUri
  "http://hl7.org/fhir/us/carin-bb/StructureDefinition/C4BB-ExplanationOfBenefit-Outpatient-Institutional",
  :require #{:diagnosis :supportingInfo :subType},
  :type zen/map,
  :zen/desc
  "This profile is used for Explanation of Benefits (EOBs) based on claims submitted by clinics, hospitals, skilled nursing facilities and other institutions for outpatient services, which may include including the use of equipment and supplies, laboratory services, radiology services and other charges. Outpatient claims are submitted for services rendered at an institution that are not part of an overnight stay.\nThe claims data is based on the institutional claim form UB-04, submission standards adopted by the Department of Health and Human Services.",
  :keys
  {:_created {:confirms #{hl7-fhir-r4-core.Element/schema}},
   :processNote
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:text
      {:confirms #{hl7-fhir-r4-core.string/schema},
       :fhir/flags #{:MS}},
      :_text {:confirms #{hl7-fhir-r4-core.Element/schema}}}}},
   :diagnosis
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:sequence {:confirms #{hl7-fhir-r4-core.positiveInt/schema}},
      :_sequence {:confirms #{hl7-fhir-r4-core.Element/schema}},
      :diagnosis
      {:fhir/polymorphic true,
       :type zen/map,
       :keys
       {:CodeableConcept
        {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
       :fhir/flags #{:MS},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-carin-bb.value-set.CDCICD910CMDiagnosisCodes/value-set,
        :strength :required}},
      :type
      {:type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
        :fhir/flags #{:MS},
        :zen.fhir/value-set
        {:symbol
         hl7-fhir-us-carin-bb.value-set.C4BBClaimOutpatientInstitutionalDiagnosisType/value-set,
         :strength :required}},
       :minItems 1,
       :maxItems 1}},
     :require #{:type}},
    :minItems 1},
   :meta {:confirms #{hl7-fhir-r4-core.Meta/schema}},
   :adjudication
   {:slicing
    {:slices
     {"denialreason"
      {:schema
       {:type zen/vector,
        :every
        {:type zen/map,
         :keys
         {:category
          {:match
           {:coding
            #{{:system
               "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBAdjudicationDiscriminator",
               :code "denialreason"}}}},
          :reason
          {:fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-carin-bb.value-set.X12ClaimAdjustmentReasonCodesCMSRemittanceAdviceRemarkCodes/value-set,
            :strength :required}}},
         :require #{:reason}}},
       :filter
       {:engine :match,
        :match
        {:category
         {:coding
          #{{:system
             "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBAdjudicationDiscriminator",
             :code "denialreason"}}}}}}}},
    :type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:category
      {:fhir/flags #{:MS},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-carin-bb.value-set.C4BBAdjudicationCategoryDiscriminator/value-set,
        :strength :required}}},
     :fhir/flags #{:MS}}},
   :supportingInfo
   {:slicing
    {:slices
     {"clmrecvddate"
      {:schema
       {:type zen/vector,
        :maxItems 1,
        :every
        {:type zen/map,
         :keys
         {:category
          {:match
           {:coding
            #{{:system
               "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
               :code "clmrecvddate"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :timing
          {:fhir/polymorphic true,
           :type zen/map,
           :keys
           {:date {:confirms #{hl7-fhir-r4-core.date/schema}},
            :_date {:confirms #{hl7-fhir-r4-core.Element/schema}}},
           :fhir/flags #{:MS}}},
         :require #{:timing}}},
       :filter
       {:engine :match,
        :match
        {:category
         {:coding
          #{{:system
             "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
             :code "clmrecvddate"}}}}}},
      "discharge-status"
      {:schema
       {:type zen/vector,
        :maxItems 1,
        :every
        {:type zen/map,
         :keys
         {:category
          {:match
           {:coding
            #{{:system
               "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
               :code "discharge-status"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :code
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-carin-bb.value-set.AHANUBCPatientDischargeStatus/value-set,
            :strength :required}}},
         :require #{:code}}},
       :filter
       {:engine :match,
        :match
        {:category
         {:coding
          #{{:system
             "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
             :code "discharge-status"}}}}}},
      "typeofbill"
      {:schema
       {:type zen/vector,
        :maxItems 1,
        :every
        {:type zen/map,
         :keys
         {:category
          {:match
           {:coding
            #{{:system
               "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
               :code "typeofbill"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :code
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-carin-bb.value-set.AHANUBCTypeOfBill/value-set,
            :strength :required}}},
         :require #{:code}}},
       :filter
       {:engine :match,
        :match
        {:category
         {:coding
          #{{:system
             "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
             :code "typeofbill"}}}}}},
      "billingnetworkcontractingstatus"
      {:schema
       {:type zen/vector,
        :maxItems 1,
        :every
        {:type zen/map,
         :keys
         {:category
          {:match
           {:coding
            #{{:system
               "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
               :code "billingnetworkcontractingstatus"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :code
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-carin-bb.value-set.C4BBPayerProviderContractingStatus/value-set,
            :strength :required}}},
         :require #{:code}}},
       :filter
       {:engine :match,
        :match
        {:category
         {:coding
          #{{:system
             "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
             :code "billingnetworkcontractingstatus"}}}}}},
      "medicalrecordnumber"
      {:schema
       {:type zen/vector,
        :maxItems 1,
        :every
        {:type zen/map,
         :keys
         {:category
          {:match
           {:coding
            #{{:system
               "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
               :code "medicalrecordnumber"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
          :value {:confirms #{hl7-fhir-r4-core.string/schema}},
          :_value
          {:confirms #{hl7-fhir-r4-core.Element/schema},
           :type zen/map,
           :keys
           {:string
            {:confirms #{hl7-fhir-r4-core.string/schema},
             :fhir/flags #{:MS}},
            :_string {:confirms #{hl7-fhir-r4-core.Element/schema}}},
           :require #{:string}}}}},
       :filter
       {:engine :match,
        :match
        {:category
         {:coding
          #{{:system
             "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
             :code "medicalrecordnumber"}}}}}},
      "pointoforigin"
      {:schema
       {:type zen/vector,
        :maxItems 1,
        :every
        {:type zen/map,
         :keys
         {:category
          {:match
           {:coding
            #{{:system
               "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
               :code "pointoforigin"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :code
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-carin-bb.value-set.AHANUBCPointOfOriginForAdmissionOrVisit/value-set,
            :strength :required}}},
         :require #{:code}}},
       :filter
       {:engine :match,
        :match
        {:category
         {:coding
          #{{:system
             "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
             :code "pointoforigin"}}}}}},
      "admtype"
      {:schema
       {:type zen/vector,
        :maxItems 1,
        :every
        {:type zen/map,
         :keys
         {:category
          {:match
           {:coding
            #{{:system
               "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
               :code "admtype"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS}},
          :code
          {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
           :fhir/flags #{:MS},
           :zen.fhir/value-set
           {:symbol
            hl7-fhir-us-carin-bb.value-set.AHANUBCPriorityTypeOfAdmissionOrVisit/value-set,
            :strength :required}}},
         :require #{:code}}},
       :filter
       {:engine :match,
        :match
        {:category
         {:coding
          #{{:system
             "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
             :code "admtype"}}}}}},
      "patientaccountnumber"
      {:schema
       {:type zen/vector,
        :maxItems 1,
        :every
        {:type zen/map,
         :keys
         {:category
          {:match
           {:coding
            #{{:system
               "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
               :code "patientaccountnumber"}}},
           :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
          :value {:confirms #{hl7-fhir-r4-core.string/schema}},
          :_value
          {:confirms #{hl7-fhir-r4-core.Element/schema},
           :type zen/map,
           :keys
           {:string
            {:confirms #{hl7-fhir-r4-core.string/schema},
             :fhir/flags #{:MS}},
            :_string {:confirms #{hl7-fhir-r4-core.Element/schema}}},
           :require #{:string}}}}},
       :filter
       {:engine :match,
        :match
        {:category
         {:coding
          #{{:system
             "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
             :code "patientaccountnumber"}}}}}}}},
    :type zen/vector,
    :every {:confirms #{hl7-fhir-r4-core.BackboneElement/schema}},
    :minItems 1},
   :payment
   {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
    :type zen/map,
    :keys
    {:date
     {:confirms #{hl7-fhir-r4-core.date/schema}, :fhir/flags #{:MS}},
     :_date {:confirms #{hl7-fhir-r4-core.Element/schema}}}},
   :item
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:revenue
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :fhir/flags #{:MS},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-carin-bb.value-set.AHANUBCRevenueCodes/value-set,
        :strength :required}},
      :productOrService
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :fhir/flags #{:MS},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-carin-bb.value-set.C4BBEOBInstitutionalProcedureCodes/value-set,
        :strength :required}},
      :modifier
      {:type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
        :fhir/flags #{:MS},
        :zen.fhir/value-set
        {:symbol
         hl7-fhir-us-carin-bb.value-set.AMACPTCMSHCPCSModifiers/value-set,
         :strength :required}}},
      :serviced
      {:fhir/polymorphic true,
       :type zen/map,
       :keys
       {:date {:confirms #{hl7-fhir-r4-core.date/schema}},
        :_date {:confirms #{hl7-fhir-r4-core.Element/schema}}}},
      :servicedDate #:fhir{:flags #{:MS}},
      :quantity
      {:confirms #{hl7-fhir-r4-core.Quantity/schema},
       :fhir/flags #{:MS}},
      :adjudication
      {:slicing
       {:slices
        {"denialreason"
         {:schema
          {:type zen/vector,
           :every
           {:type zen/map,
            :keys
            {:category
             {:match
              {:coding
               #{{:system
                  "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBAdjudicationDiscriminator",
                  :code "denialreason"}}},
              :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
             :reason
             {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
              :fhir/flags #{:MS},
              :zen.fhir/value-set
              {:symbol
               hl7-fhir-us-carin-bb.value-set.X12ClaimAdjustmentReasonCodesCMSRemittanceAdviceRemarkCodes/value-set,
               :strength :required}}},
            :require #{:reason}}},
          :filter
          {:engine :match,
           :match
           {:category
            {:coding
             #{{:system
                "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBAdjudicationDiscriminator",
                :code "denialreason"}}}}}},
         "allowedunits"
         {:schema
          {:type zen/vector,
           :maxItems 1,
           :every
           {:type zen/map,
            :keys
            {:category
             {:match
              {:coding
               #{{:system
                  "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBAdjudicationDiscriminator",
                  :code "allowedunits"}}},
              :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
             :value
             {:confirms #{hl7-fhir-r4-core.decimal/schema},
              :fhir/flags #{:MS}},
             :_value {:confirms #{hl7-fhir-r4-core.Element/schema}}},
            :require #{:value}}},
          :filter
          {:engine :match,
           :match
           {:category
            {:coding
             #{{:system
                "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBAdjudicationDiscriminator",
                :code "allowedunits"}}}}}}}},
       :type zen/vector,
       :every
       {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
        :type zen/map,
        :keys
        {:category
         {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
          :zen.fhir/value-set
          {:symbol
           hl7-fhir-us-carin-bb.value-set.C4BBAdjudicationCategoryDiscriminator/value-set,
           :strength :required}}},
        :fhir/flags #{:MS}}}},
     :require #{:serviced :servicedDate}}},
   :type
   {:match
    {:coding
     #{{:system "http://terminology.hl7.org/CodeSystem/claim-type",
        :code "institutional"}}},
    :confirms #{hl7-fhir-r4-core.CodeableConcept/schema}},
   :created
   {:confirms #{hl7-fhir-r4-core.dateTime/schema}, :fhir/flags #{:MS}},
   :total
   {:slicing {:slices {}},
    :type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:category
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :fhir/flags #{:MS},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-carin-bb.value-set.C4BBTotalCategoryDiscriminator/value-set,
        :strength :extensible}},
      :amount {:confirms #{hl7-fhir-r4-core.Money/schema}}}}},
   :subType
   {:match
    {:coding
     #{{:system
        "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBInstitutionalClaimSubType",
        :code "outpatient"}}},
    :confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
    :fhir/flags #{:MS},
    :zen.fhir/value-set
    {:symbol
     hl7-fhir-us-carin-bb.value-set.C4BBInstitutionalClaimSubType/value-set,
     :strength :required}},
   :provider
   {:confirms #{hl7-fhir-r4-core.Reference/schema zen.fhir/Reference},
    :zen.fhir/reference
    {:refers #{hl7-fhir-us-carin-bb.C4BB-Organization/schema}}},
   :careTeam
   {:type zen/vector,
    :every
    {:confirms #{hl7-fhir-r4-core.BackboneElement/schema},
     :type zen/map,
     :keys
     {:role
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema},
       :zen.fhir/value-set
       {:symbol
        hl7-fhir-us-carin-bb.value-set.C4BBClaimInstitutionalCareTeamRole/value-set,
        :strength :required}},
      :qualification
      {:confirms #{hl7-fhir-r4-core.CodeableConcept/schema}}},
     :require #{:role}}}},
  :zen.fhir/type "ExplanationOfBenefit"}}