{ns hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit-Pharmacy,
 import #{hl7-fhir-us-carin-bb.value-set.NCPDPBrandGenericIndicator
          zen.fhir
          hl7-fhir-us-carin-bb.value-set.C4BBAdjudicationCategoryDiscriminator
          hl7-fhir-us-carin-bb.value-set.NCPDPRejectCode
          hl7-fhir-us-carin-bb.value-set.FDANationalDrugCode
          hl7-fhir-us-carin-bb.value-set.C4BBClaimPharmacyTeamRole
          hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit
          hl7-fhir-us-carin-bb.value-set.NCPDPPrescriptionOriginCode
          hl7-fhir-us-carin-bb.value-set.FDANDCOrCompound
          hl7-fhir-us-carin-bb.value-set.NCPDPDispensedAsWrittenOrProductSelectionCode
          hl7-fhir-us-carin-bb.value-set.C4BBTotalCategoryDiscriminator
          hl7-fhir-us-carin-bb.value-set.C4BBPayerProviderContractingStatus
          hl7-fhir-us-carin-bb.value-set.NCPDPCompoundCode},
 schema {:zen.fhir/version "0.6.7-2",
         :confirms #{zen.fhir/Resource
                     hl7-fhir-us-carin-bb.C4BB-ExplanationOfBenefit/schema},
         :zen/tags #{zen.fhir/profile-schema zen/schema},
         :zen.fhir/profileUri "http://hl7.org/fhir/us/carin-bb/StructureDefinition/C4BB-ExplanationOfBenefit-Pharmacy",
         :require #{:supportingInfo},
         :type zen/map,
         :zen/desc "This profile is used for Explanation of Benefits (EOBs) based on claims submitted by retail pharmacies.\nThe claims data is based on submission standards adopted by the Department of Health and Human Services defined by NCPDP (National Council for Prescription Drug Program)",
         :keys {:processNote {:type zen/vector,
                              :every {:type zen/map,
                                      :keys {:text {:fhir/flags #{:MS}}}}},
                :adjudication {:type zen/vector, :maxItems 1},
                :supportingInfo {:type zen/vector,
                                 :slicing {:slices {"dawcode" {:schema {:type zen/vector,
                                                                        :minItems 1,
                                                                        :maxItems 1,
                                                                        :every {:type zen/map,
                                                                                :keys {:category {:match {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                     :code "dawcode"}}},
                                                                                                  :fhir/flags #{:MS}},
                                                                                       :code {:fhir/flags #{:MS},
                                                                                              :zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.NCPDPDispensedAsWrittenOrProductSelectionCode/value-set,
                                                                                                                   :strength :required}}},
                                                                                :require #{:code}}},
                                                               :filter {:engine :match,
                                                                        :match {:category {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                      :code "dawcode"}}}}}},
                                                    "clmrecvddate" {:schema {:type zen/vector,
                                                                             :maxItems 1,
                                                                             :every {:type zen/map,
                                                                                     :keys {:category {:match {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                          :code "clmrecvddate"}}},
                                                                                                       :fhir/flags #{:MS}},
                                                                                            :timing {:fhir/polymorphic true,
                                                                                                     :type zen/map,
                                                                                                     :fhir/flags #{:MS}}},
                                                                                     :require #{:timing}}},
                                                                    :filter {:engine :match,
                                                                             :match {:category {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                           :code "clmrecvddate"}}}}}},
                                                    "rxoriginCode" {:schema {:type zen/vector,
                                                                             :maxItems 1,
                                                                             :every {:type zen/map,
                                                                                     :keys {:category {:match {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                          :code "rxorigincode"}}},
                                                                                                       :fhir/flags #{:MS}},
                                                                                            :code {:fhir/flags #{:MS},
                                                                                                   :zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.NCPDPPrescriptionOriginCode/value-set,
                                                                                                                        :strength :required}}},
                                                                                     :require #{:code}}},
                                                                    :filter {:engine :match,
                                                                             :match {:category {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                           :code "rxorigincode"}}}}}},
                                                    "billingnetworkcontractingstatus" {:schema {:type zen/vector,
                                                                                                :maxItems 1,
                                                                                                :every {:type zen/map,
                                                                                                        :keys {:category {:match {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                                             :code "billingnetworkcontractingstatus"}}},
                                                                                                                          :fhir/flags #{:MS}},
                                                                                                               :code {:fhir/flags #{:MS},
                                                                                                                      :zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.C4BBPayerProviderContractingStatus/value-set,
                                                                                                                                           :strength :required}}},
                                                                                                        :require #{:code}}},
                                                                                       :filter {:engine :match,
                                                                                                :match {:category {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                              :code "billingnetworkcontractingstatus"}}}}}},
                                                    "dayssupply" {:schema {:type zen/vector,
                                                                           :minItems 1,
                                                                           :maxItems 1,
                                                                           :every {:type zen/map,
                                                                                   :keys {:category {:match {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                        :code "dayssupply"}}},
                                                                                                     :fhir/flags #{:MS}},
                                                                                          :value {:fhir/polymorphic true,
                                                                                                  :type zen/map,
                                                                                                  :fhir/flags #{:MS}}},
                                                                                   :require #{:value}}},
                                                                  :filter {:engine :match,
                                                                           :match {:category {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                         :code "dayssupply"}}}}}},
                                                    "refillsAuthorized" {:schema {:type zen/vector,
                                                                                  :minItems 1,
                                                                                  :maxItems 1,
                                                                                  :every {:type zen/map,
                                                                                          :keys {:category {:match {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                               :code "refillsauthorized"}}},
                                                                                                            :fhir/flags #{:MS}},
                                                                                                 :value {:fhir/polymorphic true,
                                                                                                         :type zen/map,
                                                                                                         :fhir/flags #{:MS}}},
                                                                                          :require #{:value}}},
                                                                         :filter {:engine :match,
                                                                                  :match {:category {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                :code "refillsauthorized"}}}}}},
                                                    "refillNum" {:schema {:type zen/vector,
                                                                          :minItems 1,
                                                                          :maxItems 1,
                                                                          :every {:type zen/map,
                                                                                  :keys {:category {:match {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                       :code "refillnum"}}},
                                                                                                    :fhir/flags #{:MS}},
                                                                                         :value {:fhir/polymorphic true,
                                                                                                 :type zen/map,
                                                                                                 :fhir/flags #{:MS}}},
                                                                                  :require #{:value}}},
                                                                 :filter {:engine :match,
                                                                          :match {:category {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                        :code "refillnum"}}}}}},
                                                    "brandgenericindicator" {:schema {:type zen/vector,
                                                                                      :maxItems 1,
                                                                                      :every {:type zen/map,
                                                                                              :keys {:category {:match {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                                   :code "brandgenericindicator"}}},
                                                                                                                :fhir/flags #{:MS}},
                                                                                                     :code {:fhir/flags #{:MS},
                                                                                                            :zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.NCPDPBrandGenericIndicator/value-set,
                                                                                                                                 :strength :required}}},
                                                                                              :require #{:code}}},
                                                                             :filter {:engine :match,
                                                                                      :match {:category {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                    :code "brandgenericindicator"}}}}}},
                                                    "compoundcode" {:schema {:type zen/vector,
                                                                             :maxItems 1,
                                                                             :every {:type zen/map,
                                                                                     :keys {:category {:match {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                                          :code "compoundcode"}}},
                                                                                                       :fhir/flags #{:MS}},
                                                                                            :code {:fhir/flags #{:MS},
                                                                                                   :zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.NCPDPCompoundCode/value-set,
                                                                                                                        :strength :required}}},
                                                                                     :require #{:code}}},
                                                                    :filter {:engine :match,
                                                                             :match {:category {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBSupportingInfoType",
                                                                                                           :code "compoundcode"}}}}}}}},
                                 :minItems 5},
                :payment {:type zen/map,
                          :keys {:date {:fhir/flags #{:MS}}}},
                :item {:type zen/vector,
                       :every {:type zen/map,
                               :keys {:productOrService {:fhir/flags #{:MS},
                                                         :zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.FDANDCOrCompound/value-set,
                                                                              :strength :required}},
                                      :serviced {:fhir/polymorphic true,
                                                 :type zen/map,
                                                 :fhir/flags #{:MS}},
                                      :quantity {:fhir/flags #{:MS}},
                                      :adjudication {:type zen/vector,
                                                     :slicing {:slices {"denialreason" {:schema {:type zen/vector,
                                                                                                 :maxItems 1,
                                                                                                 :every {:type zen/map,
                                                                                                         :keys {:category {:match {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBAdjudicationDiscriminator",
                                                                                                                                              :code "denialreason"}}}},
                                                                                                                :reason {:fhir/flags #{:MS},
                                                                                                                         :zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.NCPDPRejectCode/value-set,
                                                                                                                                              :strength :required}}},
                                                                                                         :require #{:reason}}},
                                                                                        :filter {:engine :match,
                                                                                                 :match {:category {:coding #{{:system "http://hl7.org/fhir/us/carin-bb/CodeSystem/C4BBAdjudicationDiscriminator",
                                                                                                                               :code "denialreason"}}}}}}}},
                                                     :every {:type zen/map,
                                                             :keys {:category {:zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.C4BBAdjudicationCategoryDiscriminator/value-set,
                                                                                                    :strength :required}}},
                                                             :fhir/flags #{:MS}},
                                                     :minItems 1},
                                      :detail {:type zen/vector,
                                               :every {:type zen/map,
                                                       :keys {:productOrService {:fhir/flags #{:MS},
                                                                                 :zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.FDANationalDrugCode/value-set,
                                                                                                      :strength :required}},
                                                              :quantity {:fhir/flags #{:MS}}},
                                                       :fhir/flags #{:MS}}}},
                               :require #{:adjudication :serviced}}},
                :type {:match {:coding #{{:system "http://terminology.hl7.org/CodeSystem/claim-type",
                                          :code "pharmacy"}}}},
                :created {:fhir/flags #{:MS}},
                :total {:type zen/vector,
                        :slicing {:slices {}},
                        :every {:type zen/map,
                                :keys {:category {:fhir/flags #{:MS},
                                                  :zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.C4BBTotalCategoryDiscriminator/value-set,
                                                                       :strength :extensible}},
                                       :amount {:fhir/flags #{:MS}}}}},
                :careTeam {:type zen/vector,
                           :every {:type zen/map,
                                   :keys {:role {:zen.fhir/value-set {:symbol hl7-fhir-us-carin-bb.value-set.C4BBClaimPharmacyTeamRole/value-set,
                                                                      :strength :required}}},
                                   :require #{:role}}}},
         :zen.fhir/type "ExplanationOfBenefit"}}
